.todo-box {
  box-sizing: border-box;
  background: $darkgrey;
  padding: 24px 16px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  overflow-x: none;
  overflow-y: auto;
  min-height: 300px;
  min-width: 272px;
  width: 100%;
  max-width: 480px;
  border: 2px solid black;
  box-shadow: 5px 2px 15px 5px black;
  #todo-add-button {
    background: none;
    font-size: 44px;
    font-weight: 700;
    width: 32px;
    margin: 8px auto;
  }
}
