// color palette
$black: #222222FF;
$white: #E8E8E8FF;
$blue: #577EB5;
$lightblue: #90A2D4;
$red : #E51919FF;
$purple : #E01DE1FF;
$grey: #707070FF;
$lightgrey: #D6D6D6FF;
$darkgrey: #494949FF;

/* Scrollbar */
$scrollbar-track-color: #555;
$scrollbar-thumb-color: #222;
$scrollbar-thumb-hover-color: grey;
